<!DOCTYPE html>
<#include "layout.html"/>
<html>
<@head/>
<body>
<@north/>
<div class="container">
    <div class="row ">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="jumbotron">
        <h1>关于</h1>
        <p>
            上次更新: 2014年11月
        </p>
        <p >
                    iManon 工作室为个人组织，致力提供更好的IDC、OA、CRM等企业产品
        </p>
    </div>
</div><!-- /.container -->
<@south/>
</body>
<@foot/>
<script type="text/javascript" charset="utf-8">
    var current = "${(current)!}";
</script>
</html>