<!DOCTYPE html>
<#include "layout.html"/>
<html>
<@head/>
<body>
<@north/>
<div class="container">
    <div class="row ">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="jumbotron">
        <h1>隐私申明</h1>

        <p>
            上次更新: 2014年11月
        </p>
        <p>
            本隐私声明适用于收集数据和显示这些条款的爱码侬 iManon 和 iManon 网站、服务、产品和应用。对于不会链接至爱码侬 iManon 和 iManon 隐私声明的其他 iManon 产品和服务，本声明不适用。
        </p>

        <p >
            <span class="label label-info">
                    Cookie 及类似技术
            </span>
        </p>
        <p>
            当您借助 Web 浏览器使用爱码侬 iManon 和 iManon 服务时，您会将一个或多外“Cookie”置入计算机中。例如，爱码侬 iManon 将使用具有唯一标识符（称为“搜索 ID”）的 Cookie 来运营服务和启用特定搜索功能。如果您使用 iManon 帐户登录到爱码侬 iManon 或其他 iManon 服务，我们将设置或读取一个或多个其他 Cookie。我们将使用这些 Cookie 来运营爱码侬 iManon 和 iManon 服务并为您提供更为相关的搜索体验。您可以使用您的浏览器设置来删除或阻止您计算机上的 Cookie。
            我们也使用 Web 信号帮助交付 Cookie，以及编译分析。这其中可能包括禁止收集您的个人信息的第三方 Web 信号。
        </p>

        <p >
            <span class="label label-success">
                    收集您的信息
            </span>
        </p>
        <p>
            在您使用爱码侬 iManon 和 iManon 服务时，iManon 可能会收集多种信息，以提高运行效率，并尽我们所能为您提供最佳产品、服务和体验。当您注册、登录，以及使用我们的站点和服务时，我们会收集信息。我们也可能从其他公司获得信息。我们以多种方式收集此信息，包括 Web 表单、如 Cookie、Web 登录等技术，以及您的计算机或者其他设备上的软件。
        </p>

        <p >
            <span class="label label-info">
                    我们如何使用您的个人信息
            </span>
        </p>
        <p>
            iManon 使用我们收集的信息运营、改善并个性化我们所提供的产品和服务。我们也可能使用信息来与您通信，例如通知您有关您的帐户和安全性更新。
            对于爱码侬 iManon 服务，我们使用此信息来向您提供相关的搜索结果。我们也会将收集的信息用于保持和改进我们的服务质量、安全性和完整性。例如，我们可能会将此信息用于搜索目的和改进爱码侬 iManon 搜索结果的相关性。为了针对诸如僵尸网络攻击、点击欺诈、蠕虫和其他威胁等安全威胁进行检测和防护，我们也需要使用该信息。
            最后，如此文档中的广告显示部分所述，在您使用我们的服务或我们的广告合作伙伴所提供的服务时，我们可能会使用您的搜索查询数据定制向您显示的个性化广告。
        </p>

    </div>
</div><!-- /.container -->

<@south/>
</body>
<@foot/>
</html>