<!DOCTYPE html>
<#include "layout.html"/>
<html>
<@head/>
<body>
<@north/>
<div class="container">
    <div class="row ">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="jumbotron">
        <p>
            <span class="label label-danger"><h1>使用条款</h1></span>
        </p>
        <p>
            上次更新: 2014年11月
        </p>
        <p>
            本条款适用于爱码侬 iManon 和 iManon 网站、服务、产品和应用。对于不会链接至爱码侬 iManon 和 iManon 隐私声明的其他 iManon 产品和服务，本声明不适用。
        </p>

        <p >
            <span class="label label-info">
                    体验及试用
            </span>
        </p>
        <p>
            当您借助 Web 浏览器使用爱码侬 iManon 和 iManon 服务时，您会将一个或多外“Cookie”置入计算机中。
            系统中所有的数据和功能将作为测试数据随时可能进行删除或者重置。
        </p>

    </div>
</div><!-- /.container -->
<@south/>
</body>
<@foot/>
</html>