<!DOCTYPE html>
<#include "layout.html"/>
<html>
<@head/>
<body>
<@north/>
<div class="container">
    <div class="row ">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="jumbotron">
        <h1>Thanks</h1>

        <p>
            谢谢您的支持，我们将尽快和你联系及答复
        </p>

    </div>
</div><!-- /.container -->

<@south/>
</body>
<@foot/>
<script type="text/javascript">
    setTimeout(function() {
        var localObj = window.location;
        var contextPath = localObj.pathname.split("/")[1];
        var basePath = localObj.protocol + "//" + localObj.host + "/" ;
        var index = basePath;
        window.location = index;
    },2000);
</script>
</html>

